button {
    height: 49px;
    background-color: #FAF7FD;
    border: solid #BB99DD 2px;
    border-radius: 4px;
}

button:hover {
    background-color: #EBD7FE;
    transform: scale(1.02);
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #BB99DD;
}